{% extends "notifications/base.html" %}
{% load i18n %}
{% load notification_tags %}

{% block head_title %} {{ block.super }} {{ user.nickname }}'s notifications {% endblock %}
{% block navbar %}{% include 'snippets/nav.html' %} <br> {% include 'snippets/nav_myhome.html' %}{% endblock %}



{% block content %}
    <div class="container">
        My custom notifications
        <hr>
        <button class="mark-all-notifications" data-mark-action="read">{% trans "Mark all as read" %}</button>
        <button class="mark-all-notifications" data-mark-action="unread">{% trans "Mark all as unread" %}</button>
        <ul class="notifications list-group">
        {% if notifications %}
        {% render_notifications using notifications %}
        {% endif %}
        </ul>
    </div>
{% endblock %}
