{% extends 'base.html' %}
{% load static %}


{% block head_title %} {{ block.super }} {{ user.nickname }}'s notifications {% endblock %}

{% block navbar %}{% include 'snippets/nav.html' %} <br> {% include 'snippets/nav_myhome.html' %}{% endblock %}


{% block content %}
    <div class="container-fluid event_main_bg py-4">
        <h1 class="text-center mb-4"> My Notifications </h1>
        <div class="notification-box-list">
            {% load notification_tags %}
            {% user_notifications %}
        </div>
    </div>
{#    {% include_notify_js_variables %}#}
{% endblock %}
<!-- Footer -->
{% block footer %}
    {% include 'snippets/footer.html' %}
{% endblock %}

</body>
</html>