<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="6NXJSS8ZL6PCC">
    <input type="hidden" name="lc" value="GB">
    <input type="hidden" name="item_name" value="test_multi_item_m01">
    <input type="hidden" name="button_subtype" value="services">
    <input type="hidden" name="no_note" value="1">
    <input type="hidden" name="no_shipping" value="2">
    <input type="hidden" name="currency_code" value="GBP">
    <input type="hidden" name="shipping" value="0.00">
    <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted">

    <table>
        <tr><td><input type="hidden" name="on0" value="Lessons">Lessons</td></tr><tr><td><select name="os0">
        {% for pricing in event.payment.pricing.all %}
            <option value="{{ pricing.title }}">{{ pricing.title }} £{{ pricing.amount }} GBP</option>
        {% endfor %}
    </select> </td></tr>
    </table>

    <input type="hidden" name="currency_code" value="GBP">
    {% for pricing in event.payment.pricing.all %}
        <input type="hidden" name="option_select{{ forloop.counter0 }}" value="{{ pricing.title }}">
        <input type="hidden" name="option_amount{{ forloop.counter0 }}" value="{{ pricing.amount }}">
    {% endfor %}

    <input type="hidden" name="option_index" value="0">
    <input type="image" src="https://www.sandbox.paypal.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>











{#<table>#}
{#    <tr><td><input type="hidden" name="on0" value="Lessons">Lessons</td></tr><tr><td><select name="os0">#}
{#    <option value="2 Lessons">2 Lessons £8.00 GBP</option>#}
{#    <option value="1 Lesson">1 Lesson £6.00 GBP</option>#}
{#    <option value="Social Only">Social Only £3.00 GBP</option>#}
{#</select> </td></tr>#}
{#</table>#}
{#<input type="hidden" name="currency_code" value="GBP">#}
{#<input type="hidden" name="option_select0" value="2 Lessons">#}
{#<input type="hidden" name="option_amount0" value="8.00">#}
{#<input type="hidden" name="option_select1" value="1 Lesson">#}
{#<input type="hidden" name="option_amount1" value="6.00">#}
{#<input type="hidden" name="option_select2" value="Social Only">#}
{#<input type="hidden" name="option_amount2" value="3.00">#}