{% extends 'base.html' %}

{% block head_title %}{{ block.super }} {% block title %}{% endblock %} {% endblock %}
{% block navbar %}{% include 'snippets/nav.html' %}{% endblock %}

{% block content %}
    <div class="container-fluid event_main_bg">
        <div class="container event_main_bg">
            <div class="signupProfile">
                {% block content_reg %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'snippets/footer.html' %}
{% endblock %}