{% extends 'registration/base_registration.html' %}
{% load crispy_forms_tags %}

{% block head_title %} {{ block.super }} Login {% endblock %}


{% block content_reg %}
    <div class="loginBox">
        <h2>Login</h2>
        <form class="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-warning">Login</button>
        </form>
        <br>
        <div class="text-center">
            <a href="{% url 'social:begin' 'facebook' %}"><i class="fa fa-facebook-official fa-lg"></i> Login with facebook</a>
            <hr>
            Don't have an account? <a href="{% url 'profiles:signup' %}">Sign up</a><br>
            <a href="{% url 'profiles:password_reset' %}">Forgot password?</a>
        </div>
    </div>
{% endblock %}