{#{% extends 'registration/base_registration.html' %}#}
{#{% load crispy_forms_tags %}#}
{##}
{#{% block title %}{{ block.super }}Enter new password{% endblock %}#}
{##}
{##}
{#{% block content_reg %}#}
{#    <h1>Set a new password!</h1>#}
{#    <p>todo: not working</p>#}
{#    <form method="POST">#}
{#        {% csrf_token %}#}
{#        {{ form|crispy }}#}
{#        <input type="submit" value="Change my password">#}
{#    </form>#}
{#{% endblock %}#}




{% extends 'registration/base_registration.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Enter new password{% endblock %}


{% block content_reg %}
    <h1>Set a new password!</h1>
    <p>todo: not working</p>
{% endblock %}




{#{% load i18n %}{% autoescape off %}#}
{#    {% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}#}
{##}
{#    {% trans "Please go to the following page and choose a new password:" %}#}
{#    {% block reset_link %}#}
{#        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}#}
{#    {% endblock %}#}
{#    {% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}#}
{##}
{#    {% trans "Thanks for using our site!" %}#}
{##}
{#    {% blocktrans %}The {{ site_name }} team{% endblocktrans %}#}
{##}
{#{% endautoescape %}#}




