{% if request.user.is_authenticated %}
    <form class="friend_form" method="POST" action='{% url "friends:friend_logic" %}'> {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <input type="hidden" name="to_user" value="{{ profile.user.pk }}">
        {% if friend_to_me.blocked %}
            <button name="friend_action" class="btn btn-secondary btn-sm", value="blocked">You are blocked</button>
        {% elif me_to_friend.status == 'requested' %}
            <button name="friend_action" class="btn btn-secondary btn-sm" value="requested">Request sent</button>
        {% elif friend_to_me.status == 'requested' %}
            <button name="friend_action" value="accept" class="btn btn-secondary btn-sm">Accept</button>
            <button name="friend_action" value="remove" class="btn btn-secondary btn-sm">Remove</button>
        {% elif me_to_friend.status == 'friend' %}
            <button name="friend_action" class="btn btn-secondary btn-sm" value="unfriend">Unfriend</button>
        {% elif me_to_friend.blocked %}
            <button name="friend_action" class="btn btn-secondary btn-sm" value="youBlocked">You Blocked => </button>
        {% else %}
            <button name="friend_action" class="btn btn-secondary btn-sm" value="add">Add Friend</button>
        {% endif %}

        {% if me_to_friend.blocked %}
            <button name="block_action" class="btn btn-secondary btn-sm" value="unblock">Unblock</button>
        {% else %}
            <button name="block_action" class="btn btn-secondary btn-sm" value="block">Block</button>
        {% endif %}

        <a href="{% url 'pinax_messages:message_user_create' user_id=profile.user.id %}" class="btn btn-outline-info btn-sm ml-2">Message</a>

    </form>

{% endif %}



