<!-- this format is not compulsory, you can have HTML that suits your project -->
{#<p style="color: rebeccapurple">This is friends_accept_self_box.html</p>#}

<li data-nf-id="{{ notification.id }}"
    class="notification list-group-item {{ notification.read|yesno:'read,unread' }}">
    <a href="{{ notification.actor_url }}"><img class="rounded-circle mr-1" src="{{ notification.actor.profile.image.url }}" width="40" height="40"></a>
{#    a===#}
{#    {{ notification.recipient.notifications.count }}#}
{#    ===a#}
    You {{ notification.verb }} <a href="{{ notification.actor_url }}">{{ notification.actor }}'s</a> friendship request.
    <span class="timesince">{{ notification.created|timesince }} ago</span>

    {% include 'notifications/includes/snippets/read_unread_box_btns.html' %}
</li>

