{% for message in thread.messages.all %}
    <div class="thread-message">
        {% if message.sender_id == request.user.id %}
            <div class="d-flex flex-row-reverse px-2 chat_container speech-bubble_me">
                <div class="d-flex flex-column px-2">
                    <div class="message-content " title="{{ message.sent_at }}">
                        <pre class="message-pre">{{ message.content|urlize }}</pre>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="d-flex flex-row px-2 chat_container speech-bubble">
                <a href="{% url 'profiles:detail' pk=message.sender.profile.id %}"><img class="rounded-circle " src="{{ message.sender.profile.image.url }}" width="40" height="40"></a>
                <div class="d-flex flex-column px-2">
                    <div class="message-from">{{ message.sender.username }}</div>
{#                    <div class="message-sent">{{ message.sent_at }}</div>#}
                    <div class="message-content_r" title="{{ message.sent_at }}">
                        <pre class="message-pre">{{ message.content|urlize }}</pre>
                    </div>
                </div>
            </div>
        {% endif %}

{#        <div class="chat_container">#}
{#            <img src="/w3images/bandmember.jpg" alt="Avatar" style="width:100%;">#}
{#            <p>Hello. How are you today?</p>#}
{#            <span class="time-right">11:00</span>#}
{#        </div>#}
{##}
{#        <div class="chat_container darker">#}
{#            <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right" style="width:100%;">#}
{#            <p>Hey! I'm fine. Thanks for asking!</p>#}
{#            <span class="time-left">11:01</span>#}
{#        </div>#}
{##}
{#        <div class="chat_container">#}
{#            <img src="/w3images/bandmember.jpg" alt="Avatar" style="width:100%;">#}
{#            <p>Sweet! So, what do you wanna do today?</p>#}
{#            <span class="time-right">11:02</span>#}
{#        </div>#}
{##}
{#        <div class="chat_container darker">#}
{#            <img src="/w3images/avatar_g2.jpg" alt="Avatar" style="width:100%;">#}
{#            <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>#}
{#            <span class="time-left">11:05</span>#}
{#        </div>#}
    
    </div>
{% endfor %}