{% load i18n %}

<div class="container">
    <nav class="nav nav-pills justify-content-center nav-search">
{#        <a class="nav-item nav-link" href="{% url 'pinax_messages:inbox' %}"><i class="far fa-envelope"></i> {% trans "Inbox" %}</a>#}
        <a class="nav-item nav-link" href="{% url 'pinax_messages:chat' %}"><i class="far fa-comment"></i> {% trans "Chat" %}</a>
        <a class="nav-item nav-link" href="{% url 'pinax_messages:message_create' %}"><i class="far fa-envelope"></i> {% trans "Send Message" %}</a>
    </nav>
    <hr>
</div>