{% extends "pinax/messages/base_chat.html" %}
​
{% load i18n %}
{% load pinax_messages_tags %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block chat_form %}
        <div class="chat_msg_box" id="id_msg_box">
            {% include 'pinax/messages/snippets/messages.html' %}
        </div>
    <form id="chat-form" class="chat_msg_form_box">
        {% csrf_token %}
        <textarea class="msg_reply_box" placeholder="Type a message..."></textarea>
        <button class="btn btn-info float-right" id="send" disabled>Send</button>
    </form>

{% endblock %}
