{% extends "pinax/messages/base_chat.html" %}
​
{% load i18n %}
{% load pinax_messages_tags %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}

​
{% block chat_form %}
    <div class="chat_msg_box" id="id_msg_box">
        {% include 'pinax/messages/snippets/messages.html' %}
    </div>
{# {% url "pinax_messages:chat_update" thread.pk %} #}
    <form id="chat-form" class="chat_msg_form_box" action="{{thread.get_absolute_url}}" method="post">
        {% csrf_token %}
        {% render_field form.content class="msg_reply_box" placeholder="Type a message..."%}
            <button class="btn btn-info float-right" id="send">Send</button>
    </form>
{% endblock %}

{% block my_js %}
    {% include 'pinax/messages/snippets/js.html' %}
{% endblock %}