{% load static %}

<div class ="event">
    <div class="row ">
        {% with title_url="web_res/event_list/" event_id=event.id|slugify %}
            {% with title_url_img=title_url|add:event_id|add:".jpg"%}
                <img class="title_img rounded mx-auto " src="{% static title_url_img %}">
                {#                                <img class="title_img rounded mx-auto " src="{% static "web_res/event_list/" %}/{{ event.id }}.jpg">#}
            {% endwith %}
        {% endwith %}
    </div>
    <div class="row">
        <h1> {{ event.name }} </h1>
    </div>
    <hr>
    <div class="row">
        <i class="icon ion-ios-person-outline mx-3">  Hosted by: {{ event.creator }}</i>
    </div>
    <div class="row">
        <i class="icon ion-ios-location-outline mx-3">  {{ event.location }}</i>
    </div>
    <div class="row">
        <i class="icon ion-android-time mx-3">  {{ event.start }} - {{ event.end }}</i>
    </div>
    <div class="row">
        <i class="ion-ios-pricetags-outline mx-3">  {{ event.list_category }}</i>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12 text-left">
            <a href="{% url 'events:detail' pk=event.id %}" class="">Detail</a>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12">
            <pre> {{ event.description|truncatechars:400}}</pre>
        </div>
    </div>
</div>