{% load i18n %}

<div class="container">
    <nav class="nav nav-pills justify-content-center nav-search">
        <a class="nav-item nav-link" href="{% url 'profiles:my_future' %}">My Events</a>
        <a class="nav-item nav-link" href="{% url 'profiles:my_past' %}">My past Events</a>
        <a class="nav-item nav-link" href="{% url 'events:create' %}">Create Event</a>
        <a class="nav-item nav-link" href="{% url 'friends:friends'%}">Friends</a>
        <a class="nav-item nav-link" href="{% url 'profiles:my_notifications'%}">Notifications</a>
        <a class="nav-item nav-link" href="{% url 'profiles:settings'%}">Settings</a>
        {#        <a class="nav-item nav-link" href="{% url 'pinax_messages:inbox' %}"><i class="fa fa-envelope"></i> {% trans "Message Inbox" %}</a>#}
    </nav>
    <hr>
</div>