{% extends 'search/base.html' %}
{% load static %}


{% block head_title %} {{ block.super }} Profiles {% endblock %}


{% block content_search %}

    <h1 class="text-center"> Search for a dancer </h1>
    <div class="row justify-content-center my-3">
        <form class="form-inline" method="GET" action="">
            <div class="form-group mx-sm-3">
                <input type="text" placeholder="Search..." name="q" class="form-control" value="{{ request.GET.q }}">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        </form>
    </div>

    <div class="row">
        {% for profile in object_list %}

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class ="event">
                    <div class="row ">
                        {% if profile.image %}
                            <img class="title_img rounded img-fluid mx-auto " src="{{ profile.image.url }}">
                        {% else %}
                            {% with title_url="web_res/profile_list/" event_id=profile.id|slugify %}
                                {% with title_url_img=title_url|add:event_id|add:".jpg"%}
                                    <img class="title_img rounded img-fluid mx-auto " src="{% static title_url_img %}">
                                {% endwith %}
                            {% endwith %}
                        {% endif %}
                    </div>
                    <div class="row">
                        <h1> {{ profile.user.username }} </h1>
                    </div>
                    <div class="row">
                        <small> {{ profile.user.first_name }} {{ profile.user.last_name }} </small>
                    </div>
                    <hr>
                    <div class="row">
                        <i class="icon ion-ios-calendar-outline mx-3">  {{ profile.date_of_birth }}</i>
                    </div>
                    <div class="row">
                        <i class="ion-ios-pricetags-outline mx-3">  {{ profile.list_category }}</i>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12 text-left mb-2">
                            <a href="{% url 'profiles:detail' pk=profile.id %}" class="btn btn-outline-secondary btn-sm">Details</a>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-12">
                            <pre> {{ profile.bio }}</pre>
                        </div>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>

{% endblock %}

<!-- Footer -->
{% block footer %}
    {% include 'snippets/footer.html' %}
{% endblock %}

</body>
</html>
