{% if request.user.is_authenticated %}
    <form class="going_form" method="POST" action='{% url "events:going" %}'> {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <input type="hidden" name="eventID" value="{{ eventID }}">
        <input type="hidden" name="to_user" value="{{ profile.user.pk }}">
{#        {{ profile.get_my_requests }}#}
{#        {{profile.get_friend_requested}}#}
{#        {{ friend }}#}
{#    <hr>#}
{#        {{ profile.get_friends_all_list }}#}
{#        {% for relation in request.user.get_friends_all_list %}#}
{#            {% if profile.user == relation.to_user %}#}
{#                {% with friend=relation %}#}
{#            {% endif %}#}
{#        {% endfor %}#}
{#    <hr>#}


    {% if friend in profile.get_friend_requested %}
        <button class="btn btn-secondary btn-sm">Request sent</button>
    {% elif friend.status == 'friend' %}
        <button class="btn btn-secondary btn-sm">Unfriend</button>
    {% elif friend.status == 'requested' %}
        <button class="btn btn-secondary btn-sm">Accept</button>
        <button class="btn btn-secondary btn-sm">Remove</button>
    {% elif friend.status == 'blocked' %}
    {% else %}
        <button class="btn btn-secondary btn-sm">Add Friend</button>
    {% endif %}

    {% if friend.status == 'blocked' %}
        <button class="btn btn-secondary btn-sm">Unblock</button>
    {% else %}
        <button class="btn btn-secondary btn-sm">Block</button>
    {% endif %}
        </form>
{% endif %}