{% extends 'base.html' %}
{% load static %}


{% block head_title %} {{ block.super }} Home {% endblock %}

<!-- Navbar -->
{% block navbar %}{% include 'snippets/nav.html' %}{% endblock %}


{% block content %}


    <section>
        <div class="container-fluid bg-1 text-center">

            <h3 class="">Welcome to Dance <img class="" src="{% static 'images/logo3.png' %}" width="30" height="30"> Connect</h3>
            <h4>Where dancers to find events and each other</h4>

        </div>
    </section>

    <section>
        <div class="container-fluid event_main_bg_2">
            <h1 class="text-center"> Latest events happening around you! </h1>
            <div class="row">
                {% for event in events_list %}
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        {% include 'events/snippets/event_box_mini.html' %}
                    </div>
                {% endfor %}
            </div>
            <div class="row justify-content-center">
                <a href='{% url 'events:list' %}'>Find more events</a>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid event_main_bg">
            <h1 class="text-center"> Latest dance festivals! </h1>
            <div class="row">
                {% for event in festivals_list %}
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        {% include 'events/snippets/event_box_mini.html' %}
                    </div>
                {% endfor %}
            </div>
            <div class="row justify-content-center">
                <a href='{% url 'search:festivals' %}'>Find more festivals</a>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid event_main_bg_2 ">
            <h3 class="text-center">Latest Users</h3>
            <div class="row">
                {% for profile in profiles_list %}
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class ="event eventMini">
                            {% include 'profiles/snippets/user_info_mini.html' %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row justify-content-center">
                <a href='{% url 'profiles:list' %}'>Find more users</a>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid event_main_bg ">
            <h3 class="text-center">Find teachers</h3>
            <div class="row">
                {% for profile in teachers_list %}
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class ="event eventMini">
                            {% include 'profiles/snippets/user_info_mini.html' %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row justify-content-center">
                <a href='{% url 'profiles:list' %}'>Find more teachers</a>
            </div>
        </div>
    </section>

{% endblock %}

<!-- Footer -->
{% block footer %}
    {% include 'snippets/footer.html' %}
{% endblock %}

</body>
</html>
