{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %} {{ block.super }} Profile - {{ profile.user.username }} {% endblock %}

<!-- Navbar -->
{% block navbar %}{% include 'snippets/nav.html' %}{% endblock %}


{% block content %}
    <div class="container event_main_bg">
        <h1 class="my-3">Edit your details</h1>
            <form class="my-3" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Update" />
            </form>
    </div>
{% endblock %}

<!-- Footer -->
{% block footer %}
    {% include 'snippets/footer.html' %}
{% endblock %}

</body>
</html>
