{% extends 'registration/base_registration.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %} {{ block.super }} Profile - {{ profile.user.username }} {% endblock %}

<!-- Navbar -->
{% block navbar %}{% include 'snippets/nav.html' %}{% endblock %}


{% block content %}
    <div class="container event_main_bg">
        <h1 class="my-3">Edit your details</h1>
        <div class="eventDetail rounded">
            <form class="my-3" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                {% include 'registration/snippets/profile_form.html' %}
                <input class="btn btn-warning" type="submit" value="Update" />
            </form>
        </div>
    </div>
{% endblock %}

<!-- Footer -->
{% block footer %}
    {% include 'snippets/footer.html' %}
{% endblock %}

</body>
</html>
