{% extends 'base.html' %}
{% load static %}
{# OLD, SEEMS NOT USED ANY MORE. SEARCH VERSION HAS TAKEN OVER#}

{% block head_title %} {{ block.super }} Profiles {% endblock %}

<!-- Navbar -->
{% block navbar %}{% include 'snippets/nav.html' %}{% endblock %}


{% block content %}
<div class="container-fluid event_main_bg">
    <h1 class="text-center"> Dancers </h1>
    <div class="row">
    {% for profile in object_list %}
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class ="event">
                {% include 'profiles/snippets/user_info.html' %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}

<!-- Footer -->
{% block footer %}
    {% include 'snippets/footer.html' %}
{% endblock %}

</body>
</html>
