{% extends 'base.html' %}
{% load static %}


{% block head_title %} {{ block.super }} Dances {% endblock %}

<!-- Navbar -->
{% block navbar %}{% include 'snippets/nav.html' %}{% endblock %}


{% block content %}

        <div class="container-fluid event_main_bg">
            <h1 class="text-center"> Different types of dances! </h1>

            <div class="row">
            {% for category in object_list %}

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="{% url 'events:category-list-info' slug=category.slug %}"> {{ category.name }} </a>
                </div>
            {% endfor %}
            </div>
        </div>

{% endblock %}

<!-- Footer -->
{% block footer %}
    {% include 'snippets/footer.html' %}
{% endblock %}

</body>
</html>
