{% extends 'base.html' %}
{% load static %}


{% block head_title %} {{ block.super }} Dances - {{ category.name }} {% endblock %}

<!-- Navbar -->
{% block navbar %}{% include 'snippets/nav.html' %}{% endblock %}


{% block content %}

    <div class="container event_main_bg">

            <div class ="event eventDetail">
                <div class="row">
                    {% if category.image %}
                        <img class="title_img rounded img-fluid mx-auto " src="{{ category.image.url }}">
                    {% endif %}
                </div>
                <div class="row ">
                    <h1> {{ category.name }} </h1>
                </div>
                <hr>
                <div class="row">
                    <pre> {{ category.description }}</pre>
                </div>
            </div>
    </div>

    <div class="container-fluid event_main_bg">
        <h1 class="text-center"> {{ category.name|title }} events happening </h1>
        <div class="row">
            {% for event in events_list %}
                <div class="col-lg-3 col-md-6 col-sm-12">
                    {% include 'events/snippets/event_box_mini.html' %}
                </div>
            {% endfor %}
        </div>
        <div class="row justify-content-center">
            {% if not events_list %}
                <div class="col-12 text-center">There doesn't seem to be any events yet.</div>
                <div class="col-12 text-center"><a href='{% url 'events:create' %}'>Add new event</a></div>
            {% else %}
                <a href='{% url 'search:events-advance' %}?q_event=&q_date=&q_location=&categories={{ category.pk }}'>Find more {{ category.name|lower }} events</a>
            {% endif %}
        </div>
    </div>

    <div class="container-fluid event_main_bg_2 ">
        <h3 class="text-center">{{ category.name }} Teachers </h3>
        <div class="row">
            {% for profile in profiles_list %}
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class ="event eventMini">
                        {% include 'profiles/snippets/user_info_mini.html' %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row justify-content-center">
            <a href='{% url 'search:profiles' %}'>Find more users</a>
        </div>
    </div>


{% endblock %}

<!-- Footer -->
{% block footer %}
    {% include 'snippets/footer.html' %}
{% endblock %}

</body>
</html>
