{% extends 'base.html' %}
{% load static %}


{% block head_title %} {{ block.super }} Event - {{ event.name }} {% endblock %}

<!-- Navbar -->
{% block navbar %}{% include 'snippets/nav.html' %}{% endblock %}


{% block content %}

    <section>
        <div class="container event_main_bg">

                <div class ="event eventDetail">
                    <div class="row">
                        {% if event.image %}
                            <img class="title_img rounded img-fluid mx-auto " src="{{ event.image.url }}">
                        {% else %}
                        {% with title_url="web_res/event_list/" event_id=event.id|slugify %}
                            {% with title_url_img=title_url|add:event_id|add:".jpg"%}
                                <img class="title_img rounded mx-auto " src="{% static title_url_img %}">
                            {% endwith %}
                        {% endwith %}
                        {% endif %}
                    </div>
                    <div class="row ">
                        <h1> {{ event.name }} </h1>
                    </div>
                    <hr>
                    <div class="row">
                        <i class="icon ion-ios-person-outline mx-3"></i>Hosted by: {{ event.creator }}
                    </div>
                    <div class="row">
                        <i class="icon ion-ios-location-outline mx-3"></i> {{ event.location }}
                    </div>
                    <div class="row">
                        <i class="icon ion-android-time mx-3"></i> {{ event.start }} - {{ event.end }}
                    </div>
                    <div class="row">
                        <i class="ion-ios-pricetags-outline mx-3">  {{ event.list_category }}</i>
                    </div>
                    <hr>
                    <div class="row">
{#                        {% if user.is_authenticated and user.profile %}#}
{#                            {% include 'events/snippets/going_toggle_form.html' with eventID=event.id is_going=is_going%}#}

                        {% if user.is_authenticated %}
                            {% if event in user.profile.events.all %}
                                {% include 'events/snippets/going_toggle_form.html' with eventID=event.id is_going=True %}
                            {% else %}
                                {% include 'events/snippets/going_toggle_form.html' with eventID=event.id is_going=False %}
                            {% endif %}

                        {% endif %}
                        {% if user.is_authenticated and user.id == event.creator.id and user.profile %}
                            <div class="">
                                <a href="{% url 'events:edit' pk=event.pk %}"><button class="btn btn-outline-dark btn-sm mx-2">Edit</button></a>
                                <a href="{% url 'events:delete' pk=event.pk %}"><button class="btn btn-outline-danger btn-sm ">Delete</button></a>
                            </div>
                        {% endif %}
                    </div>
                    {% if event.payment %}
                        <hr>
                        <div class="">
                            {% if event.payment.type == 'buy_now' %}
                                {% include 'events/snippets/temp_buy_now.html' %}
                            {% elif event.payment.type == 'buy_now_multi' %}
                                {% include 'events/snippets/temp_buy_now_multi.html' %}
                            {% endif %}
                        </div>
                    {% endif %}
                    <hr>
                    <div class="row">
                        <pre> {{ event.description }}</pre>
                    </div>
                </div>
        </div>
    </section>

{% endblock %}

<!-- Footer -->
{% block footer %}
    {% include 'snippets/footer.html' %}
{% endblock %}

</body>
</html>
