{% extends 'base.html' %}
{% load static %}


{% block head_title %} {{ block.super }} Events {% endblock %}

<!-- Navbar -->
{% block navbar %}{% include 'snippets/nav.html' %}{% endblock %}


{% block content %}

    <section>
        <div class="container-fluid event_main_bg">
            <h1 class="text-center"> Latest events happening around you! </h1>

            <div class="row">
            {% for event in object_list %}

                <div class="col-lg-4 col-md-6 col-sm-12">

                    {% include 'events/snippets/event_box_full.html' %}

                </div>
            {% endfor %}
            </div>

        </div>
    </section>



{% endblock %}

<!-- Footer -->
{% block footer %}
    {% include 'snippets/footer.html' %}
{% endblock %}

</body>
</html>
